<mat-toolbar color="primary">
  <span>Real-time Chat App</span>
</mat-toolbar>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left; margin: 0 auto; width: 500px">
  <form class="example-form">

    <mat-form-field>
      <input matInput placeholder="Name" value="Jon Snow">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput #message maxlength="256" placeholder="Message" value="The only time a man can be brave is when he is afraid.">
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>

  </form>
</div>